@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">POC para API do sistema Gestor Propostas de Crédito</h1>
    <p><a asp-page="/PropostaImput">Clique para testar</a>.</p>
</div>
