@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>POC desenvolvida no TCC da pós graduação de Arquitetura de Software Distribuído - PUC Minas Virtual</p>
<p>Eduardo Signori - Julho/2022</p>
